@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");
@import "tailwindcss";
body {
  font-family: "Rubik", sans-serif;
  background-color: #e0faec;
  background-image:
    linear-gradient(rgba(16, 185, 129, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(16, 185, 129, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;
  color: #1e293b;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
