@import "tailwindcss";

@theme {
  --dark-mode: selector(.dark);
  --color-main-bg: #e0faec;
  --color-dark-bg: #0f172a;
}

@layer base {
  :root {
    --bg-current: var(--color-main-bg);
    --header-bg: #f0fdf4;
    --text-primary: #1e293b;
    --text-secondary: #475569;
  }

  .dark {
    --bg-current: var(--color-dark-bg);
    --header-bg: #1e293b;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    color-scheme: dark;
  }

  body {
    background-color: var(--bg-current);
    color: var(--text-primary);
    @apply transition-colors duration-300;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(16, 185, 129, 0.5); /* צבע אמרלד בשקיפות בהובר */
  }
}
